<div class="background-red border-yellow">
  <div class="container" id="piede">
    <div class="row">
      <section class="col-sm-4 col-sm-push-4" id="preference">
        <h4>Preferenze</h4>
        <p>Inserisci la tua velocità media per ricalcolare i tempi di percorrenza dei percorsi.</p>
        <input id="velocita" name="velocita" type="text" autocomplete="off" size="3" pattern="\d{1,2}" maxlength="3" value="8"/>
        <button type="button" id="setVelocita">Imposta Km/h</button>
      </section>
      <section class="col-sm-4 col-sm-push-4">
        <h4>Iscriviti alla newsletter</h4>
        <p>Iscrivendoti riceverai gratuitamente la nostra newsletter mensile che ti terrà aggiornato sulle novità del sito, delle mappe e speciali promozioni per gli iscritti.</p>
        <input id="newsletter" name="newsletter" type="email" autocomplete="off" size="20" pattern="\d{1,2}" placeholder="esempio@mail.it"/>
        <button type="button">Iscriviti</button>
      </section>

      <section class="col-sm-4 col-sm-pull-8">
        <h4><img src="/images/logo-bikeaway-bianco.svg" alt="logo bikeaway" /></h4>
        <div class="row">
            <section class="col-sm-6">
              <ul>
                <li><a href="/">Home</a></li>
                <!--<li><a href="#">Login</a></li>
                <li><a href="#">Registrati</a></li>
                <li><a href="#">Family</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Relax</a></li>
                <li><a href="#">Città e paesi</a></li>-->
                <li><a href="#">Contatti</a></li>
                <li><a href="#">Private Policy</a></li>
                <li><a href="#">Help Center</a></li>
              </ul>
          </section>
          <section class="col-sm-6">
            <h5>Scarica l'app</h5>
            <ul>
              <li><a href="#">App per iPhone</a></li>
              <li><a href="#">App per Android</a></li>
            </ul>
            <h5 id="social">Seguici sui social</h5>
            <ul>
              <li><a href="#"><img src="/images/facebook-logo.svg" alt="logo facebook" /></a></li>
              <li><a href="#"><img src="/images/facebook-logo.svg" alt="logo facebook" /></a></li>

            </ul>
          </section>
      </div>
      </section>
    </div>
    <footer class="row">
      <div class="col-sm-12">
        <p>&copy; 2017 Bikeaway srl - Tutti i diritti riservati - Progetto universitario a scopo didattico</p>
      </div>
    </footer>
  </div>
</div>
